<h1 style="text-align: center;">Welcome to Expense Manager Application</h1>
<hr/>
<%= link_to "Income",incomes_path, class:"btn btn-primary" %><br/><br/>
<%= link_to "Expenses",expenses_path, class:"btn btn-warning" %><br/><br/>
<%=link_to "Reports", reports_path, class:"btn btn-success"%>
